@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* ------------------------------------------------Misc */

header {
    background-color: rgb(0, 212, 135);
    border-bottom: 1px solid black;
}

/* ------------------------------------------------Headings */

.turtle-logo {
    width: 100px;
    height: 100px;
    margin-top: 30px;
}

#heading-container h1 {
    margin-top: 15px;
    font-family: 'Odibee Sans', cursive;
    font-size: 5em;
}

#heading-container h2 {
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
}

/* ------------------------------------------------Turtle Portraits */

.odds-box img {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 50px;
}

/* ------------------------------------------------Odds */

.odds-box {
    background-color: black;
    color: #fff;
    text-align: center;
}

.odds-box p {
    margin-bottom: 10px;
}

/* ------------------------------------------------Bet inputs */

.bet {
    width: 80%;
    margin-bottom: 10px;
}

/* ------------------------------------------------Race Tracks */

.race-container {
    margin-top: 30px;
    max-width: 800px;
    background: url("../images/turtle-race-bg.png") no-repeat center center fixed;
    background-color: rgba(0, 0, 0, 0.1);
}

.race-track-wrapper {
    border: 2px solid black;
}

.placer {
    width: 65px;
    height: 65px;
    margin-bottom: 30px;
    margin: 30px auto;
}

.placer img {
    height: 65px;
    width: 65px;
}

.start-position {
    margin-bottom: 80px;
}

.start-position img {
    width: 65px;
    height: 65px;
}

.race-track {
    border: 2px solid black;
    padding-left: 0px;
    padding-right: 0px;
}

/* ------------------------------------------------Tokens */

.tokens-container {
    padding: 0 5px;
    max-width: 800px;
    min-height: 100px;
    border-right: 4px solid black;
    padding-top: 30px;
    border-left: 4px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

#tokens-wrapper {
    padding-top: 6px;
    padding-right: 0;
}

#tokens {
    font-weight: 600;
    border: 1px solid black;
    padding: 10px;
}


/* ------------------------------------------------Results */

.results-container {
    background-color: black;
    color: white;
    padding-top: 15px;
    max-width: 800px;
    min-height: 100px;
}

#results {
    max-width:450px;
    margin: 0 auto;
}

.shake {
    animation: shake-tokens 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake-tokens {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.red {
    color: rgb(255, 40, 40);
}

.green {
    color: rgb(0, 185, 0);
}

/* ------------------------------------------------Buttons */

#race-buttons {
    padding: 0;
    text-align: center;
}

#race-buttons button {
    text-align: center;
}

#race-buttons button {
    background: rgb(0, 212, 135);
    color: black;
    border: 1px solid #133510;
}

#race-buttons button:hover {
    background: black;
    color: rgb(0, 212, 135);
}

/* ------------------------------------------------Progress Bar */

#progress {
    padding-left: 0;
}

#progress-wrapper {
    border: 1px solid black;
}
#progress-outer {
    width: 100%;
    background-color: rgb(226, 226, 226);
}

#progress-inner {
    width: 10%;
    max-width: 100%;
    height: 25px;
    background-color: rgb(0, 212, 135);
}

/* ------------------------------------------------Footer */

footer {
    margin-top: 30px;
    margin-bottom: 30px;
}
